137_/zte/zte_conf/config/softap_cfg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="system">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MobileAPCfg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UMTS_PORFILE_INDEX">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TECH">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ANY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SubNetMask">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="255.255.255.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MobileAPWanCfg">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AutoConnect"/>
				<xs:element ref="Roaming"/>
				<xs:element ref="TECH"/>
				<xs:element ref="UMTS_PORFILE_INDEX"/>
				<xs:element ref="CDMA_PORFILE_INDEX"/>
				<xs:element ref="IPFamily"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MobileAPNatCfg">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirewallEnabled"/>
				<xs:element ref="FirewallPktsAllowed"/>
				<xs:element ref="Firewall"/>
				<xs:element ref="PortFwding"/>
				<xs:element ref="NatEntryTimeout"/>
				<xs:element ref="DmzIP"/>
				<xs:element ref="EnableIPSECVpnPassthrough"/>
				<xs:element ref="EnablePPTPVpnPassthrough"/>
				<xs:element ref="EnableL2TPVpnPassthrough"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MobileAPLanCfg">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnableDHCPServer"/>
				<xs:element ref="DHCPStartIP"/>
				<xs:element ref="DHCPEndIP"/>
				<xs:element ref="DHCPLeaseTime"/>
				<xs:element ref="EnableHostAPD"/>
				<xs:element ref="HostAPDCfg"/>
				<xs:element ref="SubNetMask"/>
				<xs:element ref="APIPAddr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MobileAPCfg">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MobileAPNatCfg"/>
				<xs:element ref="MobileAPLanCfg"/>
				<xs:element ref="MobileAPWanCfg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Roaming">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PortFwdingProtocol">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="17"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PortFwdingPrivatePort">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PortFwdingPrivateIP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="192.168.1.8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PortFwdingGlobalPort">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PortFwding">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PortFwdingPrivateIP"/>
				<xs:element ref="PortFwdingPrivatePort"/>
				<xs:element ref="PortFwdingGlobalPort"/>
				<xs:element ref="PortFwdingProtocol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NatEntryTimeout">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IPFamily">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="IPv4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HostAPDCfg">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="/etc/hostapd.cfg"/>
				<xs:enumeration value="/etc/ar6k-open.conf"/>
		</xs:restriction>	</xs:simpleType> 
	</xs:element>
	<xs:element name="FirewallProtocol">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FirewallEndPort">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="23"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FirewallStartPort">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="23"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FirewallEnabled">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FirewallPktsAllowed">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Firewall">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirewallStartPort"/>
				<xs:element ref="FirewallEndPort"/>
				<xs:element ref="FirewallProtocol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnablePPTPVpnPassthrough">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EnableL2TPVpnPassthrough">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EnableIPSECVpnPassthrough">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EnableHostAPD">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EnableDHCPServer">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DmzIP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0.0.0.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DHCPStartIP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="192.168.1.100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DHCPEndIP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="192.168.1.200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DHCPLeaseTime">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CDMA_PORFILE_INDEX">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AutoConnect">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="APIPAddr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="192.168.1.1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
